/* Svedek */

body {
	font-family: "Lucida Console", monospace;
	background-color: var(--background-color);
	color: var(--main-text-color);
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

main {
	background-color: var(--foreground-color);
	border: 2px dashed var(--background-color);
	border-top: 0px;
}

p {
	line-height: 1.5em;
	font-size: 1em;
}

h1 {
	font-family: "Georgia", serif;
	text-decoration: underline;
}


a {
	color: var(--interactable-color);
}

a:hover {
	color: var(--interactable-hover-color);
}





article {  /* HERE */
	padding: 2.5em 2em;
	border-top: 2px solid var(--structure-color);
}

article header {
	display: flex;
    flex-direction: column;
}

main footer {
	display: flex;
	justify-content: space-evenly;
	border-top: 2px solid var(--structure-color);
	margin: 2em 4em;
}

#page-head {
	padding-top: 1em;
	display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.page-subtext {  /* HERE */
	padding: 1em 0em;
	margin: 0em 2em;
	margin-right: 4em;
}

.nav-menu {
	list-style: none;
	padding: 4px 10% 4px 12px;
	margin: 0;
	display: flex;
	background-color: var(--foreground-color);
	border-bottom: 2px solid var(--structure-color);
	border-left: 4px solid var(--structure-color);
}
.nav-menu li {
	margin-right: 24px;
}

.nav-menu li:last-child {
	margin-right: 0;
}

.nav-menu li a {
	text-decoration: none;
	font-weight: bold;
}

.bio {
	font-family: "Georgia", serif;
}

.contents-list {
	color: var(--interactable-color);
	list-style-type: "-> ";
}

.contents-list a {
	text-decoration: none;
}

.post-head {
	margin: 0;
}

.post-subtext {
	margin: 0 0 0 1em;
	font-style: italic;
}

.post-body {
	margin: 1em 2em;
	font-family: "Georgia", serif;
}

.post-body p {
	margin-top:1.5em;
	margin-bottom:1.5em;
}

.media-container{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

.media-container h3 {
    margin-bottom: 0px;
}

.media-container p {
    font-family: "Georgia", serif;
}

.project-description{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
	width: 40%;
}

.embed-youtube{
  /* margin: auto; */
	/* text-align:center; */
	width:560px;
	height:315px;
	max-width:560px;
	max-height:315px;
	border: 8px solid var(--background-color);
}

.media{
  /* margin: auto; */
  /* text-align:center; */
	border: 8px solid var(--background-color);
}

.contact-footnote {
	margin: 8px 24px;
	display: flex;
	font-style: italic;
	font-size:0.8em;
}

.small-icon-container a {
	text-decoration: none;
}

.small-icon-container img {
	height: 35px;
	margin: 0px 4px;
}

.fill-space {
    margin: auto;
}

.page-section {  /* HERE */
	margin: 3em 1em;
	
}

.page-section h3 {  /* HERE */
	margin: 0em 0em;
}

.page-section p {  /* HERE */
	margin: 1em 1em;
	font-family: "Georgia", serif;
}



/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
