/* Svedek */

:root {
	--background-color: #101319;
	--foreground-color: #161c27;
	--structure-color: #454C43;
	--main-text-color: #69B578;
	--interactable-color: #D0DB97;
	--interactable-hover-color: #ffffff;
	--interactable-unavailable-color: #727a4a;
}

[data-theme="light"] {
	--background-color: #ffffff;
	--foreground-color: #eeeeee;
	--structure-color: #cccccc;
	--main-text-color: #000000;
	--interactable-color: #135716;
	--interactable-hover-color: #118617;
	--interactable-unavailable-color: #571313;
}
